::selection {
    color: white;
    background: rgb(8, 146, 70);
}

.img-block {
    display: inline-block;
    width: 104px;
    height: 104px;
    margin: 0 8px 8px 0;
    vertical-align: top;
}

.img-fluid2 {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bg-gray {
    background-color: bisque;
    border: 2px solid #f8f8f8;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: rgb(205, 205, 205);
    padding: 25px;
    width: 104px;
    height: 104px;
    text-align: center;
}

.upload-btn-wrapper-one {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.upload-btn-wrapper-one input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image-btn {
    border: 2px solid transparent;
    background-color: transparent;
    padding: 2px 15px;
    font-size: 25px !important;
}

.remove_img {
    background-color: bisque;
    border-radius: 69%;
    border: 1px solid #7a7a7a;
    position: relative;
    top: -106px;
    right: -78px;
    padding: 4px 8px;
    font-size: 11px;
    cursor: pointer;
}

.professional_data h1 {
    font-size: 30px;
    font-weight: 500;
}

.professional_data h2 {
    font-size: 27px;
    font-weight: 500;
}

.professional_data h3 {
    font-size: 24px;
    font-weight: 500;
}

.professional_data ol {
    list-style: auto;
    margin-left: 30px;
}

.professional_data ul {
    list-style: disc;
    margin-left: 30px;
}

.professional_data a {
    color: #3366CC;
}


/* Target the CardNumberElement */
.StripeElement {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.address.StripeElement {
    border: 0px solid #ccc;
    padding: 0px;
    border-radius: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.StripeElement--focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.StripeElement--invalid {
    border: 2px solid #df1b41;
    padding: 12px;
    border-radius: 4px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.StripeElement~p {
    display: none;
    color: #df1b41;
}

.StripeElement--invalid~p {
    display: block;
}